//Import Fonts

//Font Variables, 
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
     font-family: 'StateFaceRegular';
     src: url('../fonts/stateface-regular-webfont.eot');
     src: url('../fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/stateface-regular-webfont.woff') format('woff'),
          url('../fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('../fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
@import 'partials/_reset.scss';
@import 'partials/_grid.scss';
@import 'partials/_base.scss';
@media only screen and (min-width: 481px) {
@import 'partials/_481up.scss';
}
@media only screen and (min-width: 768px) {
@import 'partials/_768up.scss';
}
@media only screen and (min-width: 1030px) {
@import 'partials/_1030up.scss';
}

