<!DOCTYPE html>
<html>
  <head>
    <title>Patco</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/6459e82c19.js"></script>

    <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

  </head>
  <body>

  	<nav class="navbar"> 		
  		<!-- Hamburger toggle -->
  		<span id="navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>

        <a href="#" id="logo"><h1>NextPATCO</h1></a>

        <ul id="main-nav">
            <li>
                <a href="#" class="nav-links">Next Patco</a>
            </li>
            <li>
                <a href="#" class="nav-links">Search By Time</a>
            </li>
            <li>
                <a href="#" class="nav-links">View all Times</a>
            </li>
        </ul>
    </nav>
  	
  	<main class="app">

  		<div class="input">
	    	 <ul>
	    	 	<li class="select">
	    	 		<h2>Choose a station</h2>
	    	 		
	    	 		<select required name="station" id="station">
	    	 			<div class="stations">
		                <option value="1">Lindenwold</option>
		                <option value="2">Ashland</option>
		                <option value="3">Woodcrest</option>
		                <option value="4">Haddonfield</option>
		                <option value="5">Westmont</option>
		                <option value="6">Collingswood</option>
		                <option value="7">Ferry Ave</option>
		                <option value="8">Broadway</option>
		                <option value="9">City Hall</option>
		                <option value="10">8th & Market</option>
		                <option value="11">9/10 & Locust</option>
		                <option value="12">12/13 & Locust</option>
		                <option value="13">15/16 & Locust</option>
		                </div>
	              	</select>
	              	
	              </li>

	              <li class="select">
	              	<h2>Choose a direction</h2>
	    	 		<select required name="direction" id="direction">
		                <option value="2">Westbound</option>    
		                <option value="1">Eastbound</option>
	              	</select>
	              </li>
	    	
	    	 <li class="btn">
				<button type="submit" id="submit-btn" class="btn"><span>Get Time</span></button>
	    	 </li>
	    	
	    	 </ul>
	    </div>
	
	    <div id="result" class="">
	    	

	    </div>

	</main>

	<footer>
		<p></p>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript" src="/javascripts/select.js"></script>
  </body>
</html>
