<!DOCTYPE html>
<html>
  <head>
    <title>Patco</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>

  	<header> 		
  		<h1>Next PATCO</h1>
  	</header>
  	
  	<main>

  		<div class="intro">
  			<p>This app will show you the next PATCO train departure time based on your location and direction. Simply choose your closet stop and which direction you are traveling.</p>
  		</div>

	    <form action="/result" method="get" enctype="application/x-www-form-urlencoded">
	    	 <ul>
	    	 	<li include="form-input-select()">
	    	 		<select required name="station" id="station" >
		                <option value="" hidden>Choose a station...</option>
		                <option value="1">Lindenwold</option>
		                <option value="2">Ashland</option>
		                <option value="3">Woodcrest</option>
		                <option value="4">Haddonfield</option>
		                <option value="5">Westmont</option>
		                <option value="6">Collingswood</option>
		                <option value="7">Ferry Ave</option>
		                <option value="8">Broadway</option>
		                <option value="9">City Hall</option>
		                <option value="10">8th & Market</option>
		                <option value="11">9/10 & Locust</option>
		                <option value="12">12/13 & Locust</option>
		                <option value="13">15/16 & Locus</option>
	              	</select>
	              </li>
	              <li include="form-input-select()">
	    	 		<select required name="direction" id="direction" >
	    	 			<option value="" hidden>Choose a direction..</option>
		                <option value="2">Westbound</option>    
		                <option value="1">Eastbound</option>
	              	</select>
	              </li>
	    	 </ul>
	    	 <button type="submit" class="btn"><span>Get Time</span></button></td>
	    </form>

	</main>
	
  </body>
</html>
