<!DOCTYPE html>
<html>
  <head>
    <title>Patco</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Patco</h1>

		<div class="switch-button"><span class="active"></span>
		  <button class="switch-button-case left active-case">Pizza</button>
		  <button class="switch-button-case right">Pasta</button>
		</div>
		
	    <form action="/result" method="get" enctype="application/x-www-form-urlencoded">
	    	 <ul>
	    	 	<li>
	    	 		<select name="station" id="station" >
		                <option value="1">Lindenwold</option>
		                <option value="2">Ashland</option>
		                <option value="3">Woodcrest</option>
		                <option value="4">Haddonfield</option>
		                <option value="5">Westmont</option>
		                <option value="6">Collingswood</option>
		                <option value="7">Ferry Ave</option>
		                <option value="8">Broadway</option>
		                <option value="9">City Hall</option>
		                <option value="10">8th & Market</option>
		                <option value="11">9/10 & Locust</option>
		                <option value="12">12/13 & Locust</option>
		                <option value="13">15/16 & Locus</option>
	              	</select>
	              </li>
	              <li>
	    	 		<select name="direction" id="direction" >
		                <option value="1">Eastbound</option>
		                <option value="2">Westbound</option>           
	              	</select>
	              </li>
	    	 </ul>
	    	 <button type="submit">Get Time</button></td>
	    </form>

     <script type="text/javascript" src="../../javascripts/main.js"></script>
  </body>
</html>
