<!DOCTYPE html>
<html>
  <head>
    <title>Patco</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body id="top">

  	<header> 		
  		<h1>Next PATCO</h1>
  	</header>
  	
  	<main class="m-all t-all d-all">

  		<div class="intro m-all t-all d-2of3">
 		<h2>Instructions</h2>
 		<ol>
 			<li>1. Choose a station</li>
 			<li>2. Pick a direction</li>
 			<li>3. Click Get Times</li>
 		</ol>
  		</div>

  		<div class="m-all t-all d-2of3">
	    	 <ul class="form">
	    	 	<li include="form-input-select()">
	    	 		<select required name="station" id="station" >
		                <option value="" class="placeholder" hidden>Choose a station...</option>
		                <option value="1">Lindenwold</option>
		                <option value="2">Ashland</option>
		                <option value="3">Woodcrest</option>
		                <option value="4">Haddonfield</option>
		                <option value="5">Westmont</option>
		                <option value="6">Collingswood</option>
		                <option value="7">Ferry Ave</option>
		                <option value="8">Broadway</option>
		                <option value="9">City Hall</option>
		                <option value="10">8th & Market</option>
		                <option value="11">9/10 & Locust</option>
		                <option value="12">12/13 & Locust</option>
		                <option value="13">15/16 & Locust</option>
	              	</select>
	              </li>
	              <li include="form-input-select()">
	    	 		<select required name="direction" id="direction" >
	    	 			<option value="" class="placeholder" hidden>Choose a direction..</option>
		                <option value="2">Westbound</option>    
		                <option value="1">Eastbound</option>
	              	</select>
	              </li>
	    	 </ul>
	    	 <button type="submit" id="submit-btn" class="btn"><span><a href="#result">Get Time</a></span></button></td>
	    </div>
	
	    <div id="result" class="m-all t-all d-1of3">
	    	

	    </div>

	</main>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
