<!DOCTYPE html>
<html>
  <head>
    <title>Patco</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>

    <header>    
      <h1>Next PATCO</h1>
    </header>
    
    <main>

      <div class="result">
         <p>The next train from <span class="highlight"><%= stopName %></span> heading towards <span class="highlight"><%= destination %></span> departs at <span class="highlight"><%= result[0] %></span>. The next train after is departing at <span class="highlight"><%= result[1] %></span>.</p>
        <a href="/" class="btn" id="back-btn"><span>Go Back</span></a></td>
      </div>

  </main>

  </body>
</html>

