@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@font-face {
  font-family: 'StateFaceRegular';
  src: url("../fonts/stateface-regular-webfont.eot");
  src: url("../fonts/stateface-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/stateface-regular-webfont.woff") format("woff"), url("../fonts/stateface-regular-webfont.ttf") format("truetype"), url("../fonts/stateface-regular-webfont.svg#StateFaceRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************

Stylesheet: Grid Stylesheet

******************************************************************/
.last-col {
  float: right;
  padding-right: 0 !important; }

/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/
@media (max-width: 767px) {
  .m-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .m-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .m-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .m-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .m-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .m-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; } }

/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .t-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .t-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .t-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .t-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .t-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }
  .t-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }
  .t-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }
  .t-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }
  .t-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; } }

/* Landscape to small desktop */
@media (min-width: 1030px) {
  .d-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }
  .d-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }
  .d-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }
  .d-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }
  .d-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }
  .d-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }
  .d-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }
  .d-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }
  .d-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }
  .d-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; }
  .d-1of6 {
    float: left;
    padding-right: 0.75em;
    width: 16.6666666667%; }
  .d-1of7 {
    float: left;
    padding-right: 0.75em;
    width: 14.2857142857%; }
  .d-2of7 {
    float: left;
    padding-right: 0.75em;
    width: 28.5714286%; }
  .d-3of7 {
    float: left;
    padding-right: 0.75em;
    width: 42.8571429%; }
  .d-4of7 {
    float: left;
    padding-right: 0.75em;
    width: 57.1428572%; }
  .d-5of7 {
    float: left;
    padding-right: 0.75em;
    width: 71.4285715%; }
  .d-6of7 {
    float: left;
    padding-right: 0.75em;
    width: 85.7142857%; }
  .d-1of8 {
    float: left;
    padding-right: 0.75em;
    width: 12.5%; }
  .d-1of9 {
    float: left;
    padding-right: 0.75em;
    width: 11.1111111111%; }
  .d-1of10 {
    float: left;
    padding-right: 0.75em;
    width: 10%; }
  .d-1of11 {
    float: left;
    padding-right: 0.75em;
    width: 9.09090909091%; }
  .d-1of12 {
    float: left;
    padding-right: 0.75em;
    width: 8.33%; } }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #ddd;
  font-family: "Roboto", sans-serif; }

.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: #222;
  z-index: 9999;
  list-style-type: none; }

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: #fff;
    text-decoration: none; }

.nav-container {
  max-width: 100%;
  margin: 0 auto; }

nav {
  float: right; }
  nav ul {
    list-style: none;
    padding-right: 15px; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 15px;
        line-height: 50px;
        background: #222;
        color: #fff;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          background: #2581DC;
          color: #fff; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }
  nav .username {
    color: #fff;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background: #222; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  height: 50px;
  width: 50px; }

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block; }
  .nav-list {
    padding: 0;
    margin-top: 0; }
  nav {
    width: 100%;
    padding: 50px 0 15px; }
    nav ul {
      display: none;
      border-bottom: 1px solid black; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }
  .nav-dropdown {
    position: static; } }

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
    margin: 0; } }

#nav-toggle {
  position: absolute;
  left: 5px;
  top: 13px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

main {
  padding-top: 69px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #222;
  min-height: 85vh; }

.intro {
  padding: 10px 0; }
  .intro p {
    padding: 10px; }
  .intro h1 {
    font-weight: 300;
    font-size: 35px;
    padding: 0 0 10px 0; }
  .intro h3 {
    background: #222;
    margin: 20px auto;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    width: 60%; }
    .intro h3 a {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      font-size: 20px; }

.dir-container {
  text-align: center; }
  .dir-container ul {
    list-style-type: none;
    padding: 0; }
    .dir-container ul li {
      background: #222;
      margin: 20px; }
    .dir-container ul a {
      color: #fff;
      text-decoration: none;
      font-weight: 300; }
  .dir-container h2 {
    font-weight: 300;
    font-size: 25px;
    padding: 5px;
    margin: 20px; }

.state-icon {
  font-size: 50px;
  padding-right: 15px;
  font-family: 'StateFaceRegular'; }

.state-container h1, .state-container h2 {
  background: #222;
  margin: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 25px;
  padding: 5px;
  transition: background 1s; }
  .state-container h1:hover, .state-container h2:hover {
    background: #c2c2c2;
    cursor: pointer; }

.state-container li {
  text-decoration: none;
  font-weight: 300; }

.form-container {
  width: 80%;
  margin: 0 auto; }
  .form-container .row {
    padding-top: 15px; }
  .form-container form {
    font-size: 20px; }
  .form-container h2 {
    margin: 20px 0; }
  .form-container .password {
    padding-top: 10px; }
  .form-container button {
    margin: 20px 0; }

.btn {
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #444);
  background-image: -moz-linear-gradient(top, #222, #444);
  background-image: -ms-linear-gradient(top, #222, #444);
  background-image: -o-linear-gradient(top, #222, #444);
  background-image: linear-gradient(to bottom, #222, #444);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  border: none; }

.btn:hover {
  background: #c2c2c2;
  text-decoration: none; }

.img-container {
  width: 50%;
  margin: 0 auto; }
  .img-container p {
    padding: 10px; }
  .img-container img {
    width: 100%; }

footer {
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #222;
  height: 60px;
  margin: 0 auto; }
  footer p {
    color: #fff;
    padding-top: 20px; }

.show-park li {
  padding-top: 10px; }

.show-park .label {
  font-weight: 500; }

.map-container {
  height: 100%; }
  .map-container h2 {
    font-size: 25px;
    background: #444;
    font-weight: 300;
    color: #fff;
    margin: 20px; }
    .map-container h2:hover {
      background: #444; }

#map {
  margin: 20px;
  padding: 0;
  height: 400px;
  max-width: none;
  -webkit-box-shadow: 4px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 15px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 15px -4px rgba(0, 0, 0, 0.75); }

@media only screen and (min-width: 768px) {
  .string li {
    font-size: 1em;
    text-align: center; } }

@media only screen and (min-width: 1030px) {
  main {
    margin: 0 auto; }
  .intro {
    float: none;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px h1;
      padding-bottom-padding: 20px 0; }
  .dir-container ul li:hover {
    background: #999;
    transition: background 1s; } }
