$base-font: 'Roboto', sans-serif;


*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
  height: 100%;
	background: #ddd;
	font-family: $base-font;
}

//navigation

// Navigation Variables
$content-width: 100%;
$breakpoint: 800px;
$nav-height: 50px;
$nav-background: #222;
$nav-font-color: #fff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-height;
  background: $nav-background;
  z-index: 9999;
  list-style-type: none;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

nav {
  float: right;
  ul {
    list-style: none;
    padding-right: 15px;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 15px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
  .username{
    color: $nav-font-color;
    line-height: $nav-height;
    padding-left: 15px;
    padding-right: 15px;
    background: $nav-background;

  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  .nav-list{
    padding: 0;
    margin-top: 0;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      border-bottom: 1px solid black;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
    margin: 0;
  }
}

#nav-toggle {
  position: absolute;
  left: 5px;
  top: 13px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

//all pages main content

main{
	padding-top: 69px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #222;
	min-height: 85vh;

}

//intro paragraph
.intro{
	padding: 10px 0;
	p{
	padding: 10px;
	}
	h1{
	font-weight: 300;
	font-size: 35px;
	padding: 0 0 10px 0;
	}
	h3{
	background: #222;
	margin: 20px auto;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	font-size: 20px;
	padding: 10px;
	width: 60%;
	a{
		color: #fff;
		text-decoration: none;
		font-weight: 300;
		font-size: 20px;

		}
	}
}

//container for index page directory navigation
.dir-container{
	text-align: center;
	ul{
	list-style-type: none;
	padding: 0;
		li{
			background: #222;
			margin: 20px; 
		}
		a{
			color: #fff;
			text-decoration: none;
			font-weight: 300;
		}
	}
	h2{
	font-weight: 300;
	font-size: 25px;
  padding: 5px;
  margin: 20px; 
	}
}

.state-icon{
  font-size: 50px; 
  padding-right:15px; 
  font-family: 'StateFaceRegular';
}

//container for individual state views

.state-container{
  h1, h2 {
  background: #222;
  margin: 20px; 
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 25px;
  padding: 5px;
  transition: background 1s;
  &:hover{
    background: #c2c2c2;
    cursor: pointer;
    }
  }
  li{
  text-decoration: none;
  font-weight: 300;

  }
  
}

//container for login and reg forms
.form-container{
	width: 80%;
	margin: 0 auto;
	.row{
	padding-top: 15px;
	}
	form{

		font-size: 20px;
	}
	h2{
		margin: 20px 0;
	}
	.password{
		padding-top: 10px;
	}
	button{
		margin: 20px 0;
	}
}


//form btn styles

.btn {
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #444);
  background-image: -moz-linear-gradient(top, #222, #444);
  background-image: -ms-linear-gradient(top, #222, #444);
  background-image: -o-linear-gradient(top, #222, #444);
  background-image: linear-gradient(to bottom, #222, #444);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #c2c2c2;
  text-decoration: none;
}

//styles for show individual park view

.img-container{
	width: 50%;
	margin: 0 auto;
	p{
		padding: 10px;
	}
	img{
		width: 100%;
	}
}

//footer styles

footer{
	position: relative;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #222;
	
	height: 60px;
	margin: 0 auto;
		p{
		color: #fff;
		padding-top: 20px;
		}
}

.show-park{

	li{
	padding-top: 10px;
	}
	.label{
	font-weight: 500;
	}
}	


//google maps container

.map-container{
  height: 100%;
  h2{
  font-size: 25px;
  background: #444;
  font-weight: 300;
  color: #fff;
  margin: 20px;
  &:hover{
    background: #444;
    }
    
  }
}


#map{
  margin: 20px;
  padding: 0;
  height: 400px;
  max-width: none;
  -webkit-box-shadow: 4px 5px 15px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 5px 15px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 5px 15px -4px rgba(0,0,0,0.75);
  }







