
// Colors
$base-font: 'roboto', sans-serif;
$base-font-color: #333640;
$base-background: #E1E7EB;
$highlight-color: #E1E7EB;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

body {
  font-family: $base-font, Arial;
  background: $base-background;
  width: 100%;
}

//Base navbar styles

.navbar {
  top: 0;
  width: 100%;
  font-size: 20px;
  background-image: linear-gradient(260deg, #59AF79 0%, #83D455 100%); 
  border: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 10px;
  h1{
    color: #fff;
    font-size: 40px;
  }
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

.nav-links, #logo {
  text-decoration: none;
  color: $base-font-color;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

#logo{
  color: $base-background;
  display: inline-block;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: #fff;
  font-size: 40px;
}

//Main section

#app{
 /**
   * Lay out the children of this container with
   * flexbox.
   */
  display: flex;

  /**
   * Rotate the main axis so that the children
   * are laid out vertically, the same as in the
   * above "Side bar" example.
   */
  flex-direction: column;

  /**
   * Instead of pushing the children apart, as in
   * previous examples, we will group them together
   * in the center of their container.
   */
  justify-content: center;

  /**
   * Align the children in the center, along
   * the main axis. Because the direction is
   * "column" this has a similar effect as setting
   * text-align: center.
   */
  align-items: center;

  overflow:hidden;
  height: auto;
  padding: 20px;
  background: #fff;
  width: 90%;
  margin: 20px auto;
  border-radius: 25px;
  transition: max-height 2s ease-out;
}


.input{
  width: 100%;
  ul{
    justify-content: center;
  }
}



.select{
  margin: 10px auto;
  width: 80%;
  padding-top: 20px;
  text-align: center;

    .option{
      font-size: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

  select{
    text-align-last: center;
    width: 80%;
    border: 2px solid black;
    padding: 15px;
    font-size: 20px;
    outline: none;

  }
  

  .list{
    width: 100%;
    border-color: #999;
    background: inherit;
    border-radius: 0px;
    overflow: scroll;
  }

  .current{
    text-align: center;
  }

  h2{
    font-family: $base-font;
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;

  }

}


.btn{
  margin: 0 auto;
  padding: 10px 0 30px 0;
  text-align: center;

  button{
    background: #fff;
    box-shadow: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 1px;
    box-shadow: inset 0 -1px 0 1px rgba(0,0,0,.1), inset 0 -10px 20px rgba(0,0,0,.1);
    cursor: pointer;
    outline: none;
    transition: background 1s, color .5s;
    &:hover{
      background: #83D455;
      color: #fff;
    }
  }
}

//Result container

#result{
  margin-top: 20px;
  display: none;
  width: 100%;
  border-radius: 25px;
  color: $base-font-color;
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

#back-btn{
  margin-top: 30px;
}

.show{
  display: block !important;
}


